flow_full.json
[
    {
        "id": "2b77a67ae630a8fd",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da3a815f5963ee1f",
        "type": "cloudantplus out",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "database": "",
        "service": "",
        "payonly": true,
        "operation": "insert",
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c6124cedb97e7ffa",
        "type": "http in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "url": "/alterarFaculdade",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "a9115adda624cb39"
            ]
        ]
    },
    {
        "id": "a39088a34025cc20",
        "type": "http response",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "123c1fa1b4a385d4",
        "type": "switch",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "571a7ebef5275cb3",
        "type": "split",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "09fd341f57a36fa7",
        "type": "cloudantplus in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "ufersa_matheusvynicius",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "771fdb7946cde9c3"
            ]
        ]
    },
    {
        "id": "9f06c5f89b257d51",
        "type": "http in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "url": "faculdades",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "09fd341f57a36fa7"
            ]
        ]
    },
    {
        "id": "771fdb7946cde9c3",
        "type": "http response",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "3753f44711b3d806",
        "type": "cloudantplus in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "ufersa_matheusvynicius",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "2ba9cbf4b7f8190b"
            ]
        ]
    },
    {
        "id": "60a37fb68155460d",
        "type": "http in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "url": "faculdade/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "3753f44711b3d806"
            ]
        ]
    },
    {
        "id": "2ba9cbf4b7f8190b",
        "type": "http response",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "5cfd5904d8117ac1",
        "type": "http in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "url": "salvarFaculdade",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "a1fc9f209484ac94"
            ]
        ]
    },
    {
        "id": "3e510ba452a5bbc3",
        "type": "cloudantplus out",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "ufersa_matheusvynicius",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "c83e95a285047ad0"
            ]
        ]
    },
    {
        "id": "c83e95a285047ad0",
        "type": "http response",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "994529499f558dd9",
        "type": "http in",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "url": "excluirFaculdade",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "97f2aeff2d8b2727"
            ]
        ]
    },
    {
        "id": "97f2aeff2d8b2727",
        "type": "cloudantplus out",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "ufersa_matheusvynicius",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "7876233ba29f4bbf"
            ]
        ]
    },
    {
        "id": "7876233ba29f4bbf",
        "type": "http response",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "a079dbe3ceddd6b0",
        "type": "split",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 640,
        "wires": [
            [
                "3e510ba452a5bbc3"
            ]
        ]
    },
    {
        "id": "a1fc9f209484ac94",
        "type": "switch",
        "z": "2b77a67ae630a8fd",
        "name": "checkType",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "a079dbe3ceddd6b0"
            ],
            [
                "3e510ba452a5bbc3"
            ]
        ]
    },
    {
        "id": "a9115adda624cb39",
        "type": "cloudantplus out",
        "z": "2b77a67ae630a8fd",
        "name": "",
        "cloudant": "3e597fcc95f690b1",
        "database": "ufersa_matheusvynicius",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "a39088a34025cc20"
            ]
        ]
    },
    {
        "id": "3e597fcc95f690b1",
        "type": "cloudantplus",
        "host": "https://daf9096f-0edd-4378-9704-f545a32e2d39-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Matheus2410",
        "useapikey": true,
        "credentials": {}
    }
]